:root {
    --font-black: #2C3E50;
    --font-lighter-black: #718096;
    --font-x-lighter-black: #91a0b6;
    --font-light: #e5e7eb;
    --font-darker-light: #a7a9ad;
    --font-x-darker-light: #77797d;
    --link-hover: #16A34A;
    --dark-link-hover: #4ADE80;
}