.border-text-global {
    border-color: rgba(0, 0, 0, 0.87);
}

@media (prefers-color-scheme: dark) {
    .border-text-global {
        border-color: rgba(255, 255, 255, 0.68);
    }
}

.border-dim {
    border-color: #A1A1AA
}

@media (prefers-color-scheme: dark) {
    .border-dim {
        border-color: #71717A;
    }
}

.border-input {
    border-color: #D4D4D8;
    border-width: 1px;
    outline: transparent;
}

.border-input:focus-visible {
    border-color: #16A34A
}

@media (prefers-color-scheme: dark) {
    .border-input {
        border-color: #52525B;
    }
}