
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: bold;
    margin-top: 0.5rem;
}

.content h2 {
    margin-top: 2rem;
    font-size: x-large;
}

.content h3 {
    font-size: larger;
}

.content h4,
.content h5,
.content h6 {
    font-size: large;
}

.content p {
    line-height: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.content hr {
    margin-bottom: 1rem;
    color: var(--font-x-lighter-black);
}

@media (prefers-color-scheme: dark) {
    .content hr {
        color: var(--font-x-darker-light);
    }
}

.content a {
    color: #16A34A;
    transition: 0.4s;
}

.content a:hover {
    color: #22C55E;
}

.content ul,
.content ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
    list-style: initial;
}

.content ul ul,
.content ol ul,
.content ul ol,
.content ol ol {
    list-style-type: circle;
}

.content ul ul ol,
.content ul ol ol,
.content ol ul ol,
.content ol ol ol {
    list-style: initial;
}

.content ul.no-list,
.content ol.no-list {
    padding: 0;
    list-style-type: none;
}