.link-hover {
    transition: 0.2s;
}

.link-hover:hover {
    color: var(--link-hover);
}

@media (prefers-color-scheme: dark) {
    .link-hover:hover {
        color: var(--dark-link-hover);
    }
}

.link-green {
    color: #22C55E;
    text-decoration: underline;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.link-green:hover,
.link-green:focus {
    color: #16A34A;
}

@media (prefers-color-scheme: dark) {
    .link-green {
        color: #15803D;
    }

    .link-green:hover,
    .link-green:focus {
        color: #166534;
    }
}